---
layout: default
permalink: /
---

{% for item in site.data.messages %}
<section class="message">
  <header>
    <h1>{{ item.heading }}</h1>
  </header>
  <p>
    {{ item.message }}
  </p>
</section>
{% endfor %}
<section class="newpost">
  <header>
    <h1>Latest Posts</h1>
  </header>
  {% for page in site.posts %}
  <article>
    <header>
      <h2>
        <a href=".{{ page.url }}">{{ page.title | escape }}</a>
      </h2>
    </header>
    {{ page.excerpt }}
    <footer>
      <a href=".{{ page.url }}" class="readmore">Read more</a>
    </footer>
  </article>
  {% endfor %}
</section>
<section class="oldpost">
  <header>
    <h1>Older Posts</h1>
  </header>
  <a href="./archive/" class="button">Show archive</a>
</section>
