html
{
    box-sizing: border-box;
    overflow-y: scroll;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

//-------------------------------------------------------------------------------------------------

$rgbback: white;
$rgbfore: black;
$rgblink: blue;
$rgbmark: yellow;
$shade50: mix($rgbback, $rgbfore, 50);
$shade80: mix($rgbback, $rgbfore, 80);
$shade90: mix($rgbback, $rgbfore, 90);

$border-upper: 3px solid $shade50;
$border-lower: 1px solid $shade80;
$border-inner: 1px solid $shade90;

$font-fallback-content: "Georgia", serif;
$font-fallback-outline: "Verdana", sans-serif;
$font-webfonts-content: "Lora";
$font-webfonts-outline: "Open Sans";
$font-monospace: "Consolas", monospace;

$max-overall-width: 1200px;
$max-content-width: 720px;
$margin-width: 5%;

body
{
    background: $rgbback;
    color: $rgbfore;
    display: flex;
    flex-flow: row wrap;
    font-family: $font-fallback-content;
    font-size: 12pt;
    justify-content: space-between;
    line-height: 1.5;
    margin: 0 auto;
    width: 100% - (2 * $margin-width);

    .webfonts &
    {
        font-family: $font-webfonts-content, $font-fallback-content;
    }

    > *
    {
        flex: 0 100%;
    }

    > header > h1
    {
        font-size: 18pt;
        margin: 10px 0;
    }

    > footer
    {
        border-top: $border-upper;
        font-size: 10pt;
        font-style: italic;
        padding: 16px 0;
    }
}

h1, h2, nav, .oldpost, .contact label, .contact input[type="submit"]
{
    font-family: $font-fallback-outline;
    font-weight: bold;

    .webfonts &
    {
        font-family: $font-webfonts-outline, $font-fallback-outline;
    }

    a
    {
        color: inherit;
    }
}

a
{
    color: $rgblink;
    text-decoration: none;
}

a:hover
{
    color: $rgblink;
    text-decoration: underline;
}

svg
{
    fill: currentColor;
}

//-------------------------------------------------------------------------------------------------

@mixin navmenu-toggle-show
{
    height: auto;
    visibility: visible;
}

@mixin navmenu-toggle-hide
{
    height: 0;
    visibility: hidden;
}

.navmenu
{
    border-top: $border-upper;
    border-bottom: $border-lower;

    #toggle
    {
        $toggle-size: 24px;

        float: right;
        height: $toggle-size;
        margin: 4px 0;
        width: $toggle-size;

        + label
        {
            color: transparent;
            cursor: pointer;
            display: block;
            padding: 4px 0;
            position: relative;
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
        }

        + label::before
        {
            background: $rgbback;
            background-size: $toggle-size;
            content: "";
            float: right;
            height: $toggle-size;
            left: $toggle-size;
            position: relative;
            width: $toggle-size;
        }

        + label::after
        {
            content: "Menu";
            left: 0;
            padding: 0 16px;
            position: absolute;
        }
    }

    #toggle
    {
        + label
        {
            border-bottom: none;
        }

        + label::before
        {
            background-image: url("./static/chevron-down.svg");
        }

        + label::after
        {
            color: $rgbfore;
        }

        ~ ul
        {
            @include navmenu-toggle-hide();
        }
    }

    #toggle:checked
    {
        + label
        {
            border-bottom: $border-inner;
        }

        + label::before
        {
            background-image: url("./static/chevron-up.svg");
        }

        + label::after
        {
            color: $shade50;
        }

        ~ ul
        {
            @include navmenu-toggle-show();
        }
    }

    ul
    {
        display: flex;
        flex-flow: column wrap;
        list-style-type: none;
        justify-content: flex-start;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    ul > li
    {
        flex: none;
    }

    ul > li a
    {
        display: block;
        padding: 4px 16px;
    }

    ul > li a:hover,
    ul > li a:focus
    {
        background: $shade50;
        color: $rgbback;
    }
}

//-------------------------------------------------------------------------------------------------

@mixin content-section-label
{
    background: $rgbmark;
    display: inline-block;
    font-size: 12pt;
    margin: 0;
    text-transform: lowercase;

    &::first-letter
    {
        text-transform: uppercase;
    }

    &::after
    {
        content: ":";
    }
}

@mixin content-archive-li-tall
{
    ul > li
    {
        margin: 4px 0;
    }

    ul > li time
    {
        display: block;
    }
}

@mixin content-archive-li-wide
{
    ul > li
    {
        margin: 0;
    }

    ul > li time
    {
        display: inline;
    }
}

.content
{
    max-width: $max-content-width;

    header, footer, h1, h2, p, ul, figure
    {
        margin: 24px 0;
    }

    h1
    {
        font-size: 24pt;
    }

    h2
    {
        font-size: 12pt;
    }

    footer
    {
        font-style: italic;
    }

    p:last-of-type::after
    {
        clear: both;
        content: "";
        display: block;
    }

    figure > img
    {
        animation: placeholder 1s ease forwards;
        display: block;
    }

    .equation > img
    {
        margin: 0 16px;
        max-width: calc(100% - 32px);
    }

    .floating > img
    {
        margin: 0 auto;
        max-width: 100%;
        object-fit: cover;
    }

    @keyframes placeholder
    {
        to
        {
            background: $shade90;
        }
    }
}

.content .message
{
    > header > h1
    {
        @include content-section-label();
    }

    p
    {
        font-style: italic;
    }
}

.content .newpost
{
    > header > h1
    {
        @include content-section-label();
    }

    a.readmore::after
    {
        content: " \00bb";
    }
}

.content .oldpost
{
    margin: 24px 0;
    text-align: center;

    a
    {
        background: $shade90;
        display: block;
        padding: 4px 0;
    }

    a:hover,
    a:focus
    {
        background: $shade50;
        color: $rgbback;
    }
}

.content .archive
{
    @include content-archive-li-tall();

    ul > li time
    {
        font-family: $font-monospace;
        font-size: 10pt;
    }
}

.content .contact
{
    label,
    input[type="submit"]
    {
        cursor: pointer;
        display: block;
        margin: 16px 0;
    }

    input[type="text"],
    input[type="email"],
    textarea
    {
        display: block;
        font-family: $font-monospace;
        line-height: 1.25;
        margin: 4px 0;
        padding: 4px;
        width: 100%;
    }

    textarea
    {
        height: 200px;
        max-width: 100%;
        min-width: 100%;
    }

    input[type="submit"]
    {
        padding: 4px 40px;
    }
}

//-------------------------------------------------------------------------------------------------

.sidebar
{
    aside > header > h1
    {
        border-bottom: $border-lower;
        border-top: $border-upper;
        font-size: inherit;
        margin: 0;
        padding: 4px 0;
    }

    aside
    {
        margin: 24px 0;
    }

    aside:first-of-type
    {
        margin-top: 0;
    }
}

.sidebar .social-media
{
    $icon-size: 48px;

    ul
    {
        list-style: none;
        padding: 0 0 0 16px;
    }

    ul > li a
    {
        display: inline-block;
    }

    ul > li a *
    {
        vertical-align: middle;
    }

    ul > li a span
    {
        margin: 0 10px;
    }

    ul > li a svg
    {
        color: $shade50;
        height: $icon-size;
        width: $icon-size;
    }

    ul > li a:hover svg
    {
        color: inherit;
    }
}

//-------------------------------------------------------------------------------------------------

.content,
.sidebar
{
    p
    {
        text-align: justify;
    }
}

.navmenu,
.content,
.sidebar,
.oldpost
{
    > header,
    > header > h1
    {
        border: none;
        height: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
}

//-------------------------------------------------------------------------------------------------

@media only screen and (min-width: 600px)
{
    $margin-width: 10%;

    body
    {
        max-width: $max-content-width;
        width: 100% - (2 * $margin-width);

        > header > h1
        {
            font-size: 30pt;
        }
    }

    .navmenu
    {
        #toggle
        {
            display: none;
        }

        #toggle + label
        {
            display: none;
        }

        #toggle ~ ul
        {
            @include navmenu-toggle-show();
        }

        ul
        {
            flex-flow: row wrap;
        }

        ul > li a
        {
            padding: 4px 32px;
        }
    }

    .content
    {
        .equation > img
        {
            margin: 0 40px;
        }

        .floating > img
        {
            float: left;
            margin: 0 24px 0 0;
        }
    }

    .content .archive
    {
        @include content-archive-li-wide();
    }
}

//-------------------------------------------------------------------------------------------------

@media only screen and (min-width: 1200px)
{
    $margin-width: 10%;

    body
    {
        max-width: $max-overall-width;
        width: 100% - (2 * $margin-width);

        > header h1
        {
            text-align: center;
        }
    }

    .content
    {
        flex: 0 60%;
    }

    .sidebar
    {
        flex: 0 35%;

        aside:first-of-type
        {
            margin-top: 40px;
        }
    }
}

//-------------------------------------------------------------------------------------------------

@media only print
{
    body
    {
        display: block;
        margin: auto;
        width: 100%;

        > header > h1
        {
            border-bottom: $border-lower;
            border-top: $border-upper;
            font-size: inherit;
            margin: 0;
            padding: 4px 0;
            text-align: left;
        }
    }

    .content .archive
    {
        @include content-archive-li-wide();
    }

    .navmenu,
    .sidebar,
    .oldpost
    {
        display: none;
    }
}

@page
{
    margin: 1in 1.25in;
}
