html
{
    box-sizing: border-box;
    overflow-y: scroll;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

$shade50: #808080;
$shade80: #cccccc;
$shade90: #e6e6e6;

$border-upper: 3px solid $shade50;
$border-lower: 1px solid $shade80;

$font-content-fallback: "Georgia", serif;
$font-heading-fallback: "Verdana", sans-serif;
$font-content-webfonts: "Lora";
$font-heading-webfonts: "Open Sans";

$margin-width: 5%;

body
{
    background-color: white;
    color: black;
    display: flex;
    flex-flow: row wrap;
    font-family: $font-content-fallback;
    font-size: 12pt;
    justify-content: space-between;
    line-height: 1.5;
    margin: 0 auto;
    width: 100% - (2 * $margin-width);

    .webfonts &
    {
        font-family: $font-content-webfonts, $font-content-fallback;
    }

    > *
    {
        flex: 0 100%;
    }
}

h1, h2, h3, h4, h5, h6, nav
{
    font-family: $font-heading-fallback;
    font-weight: bold;

    .webfonts &
    {
        font-family: $font-heading-webfonts, $font-heading-fallback;
    }

    a
    {
        color: inherit;
    }
}

svg
{
    fill: currentColor;
}

a
{
    color: blue;
    text-decoration: none;
}

a:hover
{
    color: blue;
    text-decoration: underline;
}

p
{
    text-align: justify;
}

footer
{
    font-style: italic;
}

body > header > h1
{
    font-size: 18pt;
    margin: 10px 0;
}

body > footer
{
    border-top: $border-upper;
    padding: 16px 0;
}

.navmain
{
    border-bottom: $border-lower;
    border-top: $border-upper;

    ul
    {
        display: flex;
        flex-flow: column wrap;
        list-style-type: none;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    li
    {
        flex: none;
    }

    li a
    {
        display: block;
        padding: 4px 16px;
    }

    li a:hover,
    li a:focus
    {
        background-color: $shade50;
        color: white;
    }
}

.navmore
{
    margin: 24px 0;
    text-align: center;

    a
    {
        background-color: $shade90;
        display: block;
        padding: 4px 0;
    }

    a:hover,
    a:focus
    {
        background-color: $shade50;
        color: white;
    }
}

.content
{
    header > h1
    {
        font-size: 24pt;
    }

    header, footer, p, figure
    {
        margin: 24px 0;
    }

    p:last-of-type::after
    {
        clear: both;
        content: "";
        display: block;
    }

    .equation > img
    {
        display: block;
        max-width: 100%;
        padding: 0 16px;
    }

    .floating > img
    {
        background-color: $shade90;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        object-fit: cover;
    }
}

.content .archive
{
    ul > li
    {
        margin: 4px 0;
    }

    ul > li span
    {
        display: block;
        font-family: monospace;
        font-size: 10pt;
    }
}

.sidebar
{
    aside
    {
        margin: 24px 0;
    }

    aside:first-of-type
    {
        margin-top: 0;
    }

    header > h1
    {
        border-bottom: $border-lower;
        border-top: $border-upper;
        font-size: inherit;
        margin: 0;
        padding: 4px 0;
    }
}

.sidebar .social-media
{
    $icon-size: 48px;

    ul
    {
        list-style: none;
        padding: 0 0 0 16px;
    }

    ul > li a
    {
        display: inline-block;
    }

    ul > li a *
    {
        vertical-align: middle;
    }

    ul > li a span
    {
        margin: 0 10px;
    }

    ul > li a svg
    {
        color: $shade50;
        height: $icon-size;
        width: $icon-size;
    }

    ul > li a:hover svg
    {
        color: inherit;
    }
}

.content,
.sidebar,
.navmain,
.navmore
{
    > h1
    {
        height: 0;
        margin: 0;
        overflow: hidden;
    }
}

@mixin archive-list-inline
{
    .content .archive
    {
        ul > li
        {
            margin: 0;
        }

        ul > li span
        {
            display: inline;
        }
    }
}

@media only screen and (min-width: 600px)
{
    $margin-width: 10%;

    body
    {
        max-width: 720px;
        width: 100% - (2 * $margin-width);
    }

    body > header > h1
    {
        font-size: 30pt;
    }

    .navmain ul
    {
        flex-flow: row wrap;
    }

    .navmain li a
    {
        padding: 4px 32px;
    }

    .content .equation > img
    {
        padding: 0 40px;
    }

    .content .floating
    {
        float: left;
        margin: 0 24px 0 0;
    }

    @include archive-list-inline();
}

@media only screen and (min-width: 1200px)
{
    $margin-width: 10%;

    body
    {
        max-width: 1200px;
        width: 100% - (2 * $margin-width);
    }

    body > header > h1
    {
        text-align: center;
    }

    .content
    {
        flex: 0 60%;
    }

    .sidebar
    {
        flex: 0 35%;
    }

    .sidebar aside:first-of-type
    {
        margin-top: 40px;
    }
}

@media only print
{
    body
    {
        display: block;
        margin: auto;
        width: 100%;
    }

    body > header > h1
    {
        border-bottom: $border-lower;
        border-top: $border-upper;
        font-size: inherit;
        margin: 0;
        padding: 4px 0;
        text-align: left;
    }

    .navmain,
    .navmore,
    .sidebar
    {
        display: none;
    }

    @include archive-list-inline();
}

@page
{
    margin: 1in 1.25in;
}
