html
{
    box-sizing: border-box;
    overflow-y: scroll;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

$shade50: #808080;
$shade80: #cccccc;
$shade90: #e6e6e6;

$border-upper: 3px solid $shade50;
$border-lower: 1px solid $shade80;

$font-content-fallback: "Georgia", serif;
$font-heading-fallback: "Verdana", sans-serif;
$font-content-webfonts: "Lora";
$font-heading-webfonts: "Open Sans";
$font-monospace: "Consolas", monospace;

$margin-width: 5%;

body
{
    background: white;
    color: black;
    display: flex;
    flex-flow: row wrap;
    font-family: $font-content-fallback;
    font-size: 12pt;
    justify-content: space-between;
    line-height: 1.5;
    margin: 0 auto;
    width: 100% - (2 * $margin-width);

    .webfonts &
    {
        font-family: $font-content-webfonts, $font-content-fallback;
    }

    > *
    {
        flex: 0 100%;
    }

    > header > h1
    {
        font-size: 18pt;
        margin: 10px 0;
    }

    > footer
    {
        border-top: $border-upper;
        font-size: 10pt;
        font-style: italic;
        padding: 16px 0;
    }
}

h1, h2, nav
{
    font-family: $font-heading-fallback;
    font-weight: bold;

    .webfonts &
    {
        font-family: $font-heading-webfonts, $font-heading-fallback;
    }

    a
    {
        color: inherit;
    }
}

a
{
    color: blue;
    text-decoration: none;
}

a:hover
{
    color: blue;
    text-decoration: underline;
}

svg
{
    fill: currentColor;
}

$navtoggle-size: 24px;
$navtoggle-show: to bottom;
$navtoggle-hide: to right;
$navtoggle-icon: transparent 0px, transparent 3px, white 3px, white 6px;

#navtoggle
{
    float: left;
    height: $navtoggle-size;
    margin: 6px 0 0;
    width: $navtoggle-size;
}

label[for="navtoggle"]
{
    color: transparent;
    display: block;
    float: left;
    height: $navtoggle-size;
    margin: 6px (-$navtoggle-size) 0;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: $navtoggle-size;

    #navtoggle ~ &
    {
        background-color: $shade50;
        background-image: repeating-linear-gradient($navtoggle-show, $navtoggle-icon);
    }

    #navtoggle:checked ~ &
    {
        background-color: $shade50;
        background-image: repeating-linear-gradient($navtoggle-hide, $navtoggle-icon);
    }

    #navtoggle:hover ~ &,
    #navtoggle:focus ~ &
    {
        background-color: blue;
        cursor: pointer;
    }
}

#navtoggle ~ .navmain
{
    border-bottom: none;

    ul
    {
        height: 0;
        visibility: hidden;
    }
}

#navtoggle:checked ~ .navmain
{
    border-bottom: $border-lower;

    ul
    {
        height: auto;
        visibility: visible;
    }
}

.navmain
{
    border-bottom: $border-lower;
    border-top: $border-upper;

    ul
    {
        display: flex;
        flex-flow: column wrap;
        list-style-type: none;
        justify-content: flex-start;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    ul > li
    {
        flex: none;
    }

    ul > li a
    {
        display: block;
        padding: 4px 16px;
    }

    ul > li a:hover,
    ul > li a:focus
    {
        background: $shade50;
        color: white;
    }
}

.navmore
{
    margin: 24px 0;
    text-align: center;

    a
    {
        background: $shade90;
        display: block;
        padding: 4px 0;
    }

    a:hover,
    a:focus
    {
        background: $shade50;
        color: white;
    }
}

.content
{
    header, footer, h1, h2, p, ul, figure
    {
        margin: 24px 0;
    }

    header > h1
    {
        font-size: 24pt;
    }

    h2
    {
        font-size: 12pt;
    }

    footer
    {
        font-style: italic;
    }

    p:last-of-type::after
    {
        clear: both;
        content: "";
        display: block;
    }

    figure > img
    {
        animation: placeholder 1s ease forwards;
        display: block;
    }

    .equation > img
    {
        margin: 0 16px;
        max-width: calc(100% - 32px);
    }

    .floating > img
    {
        margin: 0 auto;
        max-width: 100%;
        object-fit: cover;
    }

    @keyframes placeholder
    {
        to
        {
            background: $shade90;
        }
    }
}

.content .archive
{
    ul > li
    {
        margin: 4px 0;
    }

    ul > li span
    {
        display: block;
        font-family: $font-monospace;
        font-size: 10pt;
    }
}

.sidebar
{
    header > h1
    {
        border-bottom: $border-lower;
        border-top: $border-upper;
        font-size: inherit;
        margin: 0;
        padding: 4px 0;
    }

    aside
    {
        margin: 24px 0;
    }

    aside:first-of-type
    {
        margin-top: 0;
    }
}

.sidebar .social-media
{
    $icon-size: 48px;

    ul
    {
        list-style: none;
        padding: 0 0 0 16px;
    }

    ul > li a
    {
        display: inline-block;
    }

    ul > li a *
    {
        vertical-align: middle;
    }

    ul > li a span
    {
        margin: 0 10px;
    }

    ul > li a svg
    {
        color: $shade50;
        height: $icon-size;
        width: $icon-size;
    }

    ul > li a:hover svg
    {
        color: inherit;
    }
}

.content,
.sidebar
{
    p
    {
        text-align: justify;
    }
}

.content,
.sidebar,
.navmain,
.navmore
{
    > h1
    {
        height: 0;
        margin: 0;
        overflow: hidden;
    }
}

@mixin archive-list-inline
{
    .content .archive
    {
        ul > li
        {
            margin: 0;
        }

        ul > li span
        {
            display: inline;
        }
    }
}

@media only screen and (min-width: 600px)
{
    $margin-width: 10%;

    body
    {
        max-width: 720px;
        width: 100% - (2 * $margin-width);
    }

    body > header > h1
    {
        font-size: 30pt;
    }

    #navtoggle
    {
        display: none;
    }

    label[for="navtoggle"]
    {
        display: none;
    }

    #navtoggle ~ .navmain
    {
        border-bottom: $border-lower;

        ul
        {
            height: auto;
            visibility: visible;
        }
    }

    .navmain ul
    {
        flex-flow: row wrap;
    }

    .navmain ul > li a
    {
        padding: 4px 32px;
    }

    .content .equation > img
    {
        margin: 0 40px;
    }

    .content .floating > img
    {
        float: left;
        margin: 0 24px 0 0;
    }

    @include archive-list-inline();
}

@media only screen and (min-width: 1200px)
{
    $margin-width: 10%;

    body
    {
        max-width: 1200px;
        width: 100% - (2 * $margin-width);
    }

    body > header > h1
    {
        text-align: center;
    }

    .content
    {
        flex: 0 60%;
    }

    .sidebar
    {
        flex: 0 35%;
    }

    .sidebar aside:first-of-type
    {
        margin-top: 40px;
    }
}

@media only print
{
    body
    {
        display: block;
        margin: auto;
        width: 100%;
    }

    body > header > h1
    {
        border-bottom: $border-lower;
        border-top: $border-upper;
        font-size: inherit;
        margin: 0;
        padding: 4px 0;
        text-align: left;
    }

    .navmain,
    .navmore,
    .sidebar
    {
        display: none;
    }

    @include archive-list-inline();
}

@page
{
    margin: 1in 1.25in;
}
