<script defer src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
<script>
  var activate = function () {
    document.documentElement.classList.add("webfonts");
    sessionStorage.setItem("webfonts", true);
  };
  if (sessionStorage.getItem("webfonts")) {
    var element = document.createElement("link");
    element.rel = "stylesheet";
    element.href = "https://fonts.googleapis.com/css?family=Lora%7CLora:i%7COpen+Sans:b";
    element.media = "all";
    document.head.appendChild(element);
    activate();
  } else {
    WebFontConfig = { google: { families: ["Lora", "Lora:i", "Open+Sans:b"] }, active: activate };
  }
</script>
