{% assign webfont-url = "./static/fonts/fonts.css" %}
<link rel="preload" href="{{ webfont-url }}" as="style" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" defer></script>
<script>
  var activate = function () {
    document.documentElement.classList.add("webfonts");
    sessionStorage.setItem("webfonts", true);
  };
  if (sessionStorage.getItem("webfonts")) {
    var element = document.createElement("link");
    element.rel = "stylesheet";
    element.href = "{{ webfont-url }}";
    element.media = "all";
    document.head.appendChild(element);
    activate();
  } else {
    WebFontConfig = {
      custom: { families: ["Open Sans:n7", "Lora:n4,i4"], urls: ["{{ webfont-url }}"] },
      active: activate
    };
  }
</script>
