html
{
    box-sizing: border-box;
    overflow-y: scroll;
}

*, *::before, *::after
{
    box-sizing: inherit;
}

$header-image: "/assets/img/sahara-west.jpg";
$header-image-w: 1200px;
$header-image-h: 240px;
$margin-percent: 10%;
$border-style: 2px solid gray;

body
{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $header-image-w;
    width: 100% - (2 * $margin-percent);
}

body > *
{
    flex: 0 100%;
}

body > header > h1
{
    text-align: center;
}

body > header > nav
{
    border-bottom: $border-style;
    border-top: $border-style;
}

body > header::after
{
    background-image: url($header-image);
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    max-width: 100%;
    padding-top: ($header-image-h / $header-image-w) * 100%;
}

body > footer
{
    border-top: $border-style;
    clear: both;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.content article .floating
{
    float: left;
    margin-right: 2em;
}

.sidebar > aside > h1
{
    border-top: $border-style;
}

.navmain > h1,
.content > h1,
.sidebar > h1
{
    display: none;
}

@media only screen and (min-width: 1000px)
{
    .content
    {
        flex: 0 (2 / 3) * (100% - $margin-percent) + ($margin-percent / 2);
        margin-right: ($margin-percent / 2);
    }

    .sidebar
    {
        flex: 0 (1 / 3) * (100% - $margin-percent);
    }
}
