// https://google-webfonts-helper.herokuapp.com/fonts
// https://everythingfonts.com/
// http://www.glyphrstudio.com/

@font-face
{
    font-display: fallback;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), //
    url(./static/fonts/open-sans-v17-latin-700.woff2) format("woff2"), //
    url(./static/fonts/open-sans-v17-latin-700.woff) format("woff");
}

@font-face
{
    font-display: fallback;
    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    src: local("Lora Regular"), local("Lora-Regular"), //
    url(./static/fonts/lora-v14-latin-regular.woff2) format("woff2"), //
    url(./static/fonts/lora-v14-latin-regular.woff) format("woff");
}

@font-face
{
    font-display: fallback;
    font-family: "Lora";
    font-style: italic;
    font-weight: 400;
    src: local("Lora Italic"), local("Lora-Italic"), //
    url(./static/fonts/lora-v14-latin-italic.woff2) format("woff2"), //
    url(./static/fonts/lora-v14-latin-italic.woff) format("woff");
}

@font-face
{
    font-display: fallback;
    font-family: "Lora Tabular";
    font-style: normal;
    font-weight: 400;
    src: local("Lora Tabular Regular"), local("LoraTabular-Regular"), //
    url(./static/fonts/lora-variant-tabular-nums.woff2) format("woff2"), //
    url(./static/fonts/lora-variant-tabular-nums.woff) format("woff");
    unicode-range: U+0030-0039;
}

@font-face
{
    font-display: fallback;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'), //
    url(./static/fonts/roboto-mono-v7-latin-regular.woff2) format("woff2"), //
    url(./static/fonts/roboto-mono-v7-latin-regular.woff) format("woff");
}
