<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}" />
  <base href="{{ site.baseurl }}/" />
  <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon" />
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Lora%7CLora:i%7COpen+Sans:b" as="style" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js" defer></script>
  <script>
    var activate = function () {
      document.documentElement.classList.add("webfonts");
      sessionStorage.setItem("webfonts", true);
    };
    if (sessionStorage.getItem("webfonts")) {
      var element = document.createElement("link");
      element.rel = "stylesheet";
      element.href = "https://fonts.googleapis.com/css?family=Lora%7CLora:i%7COpen+Sans:b";
      element.media = "all";
      document.head.appendChild(element);
      activate();
    } else {
      WebFontConfig = { google: { families: ["Lora", "Lora:i", "Open+Sans:b"] }, active: activate };
    }
  </script>
  {% include styles.html %}
</head>
<body>
  <header>
    <h1>
      <a href="./">Jim Killingsworth</a>
    </h1>
    <nav class="navmain">
      <h1>Main Menu</h1>
      <ul>
        <li>
          <a href="./">
            Home
          </a>
        </li>
        <li>
          <a href="./archive/">
            Archive
          </a>
        </li>
        <li>
          <a href="./about/">
            About
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="content">
    <h1>Content</h1>
    {{ content | hyphenate }}
  </section>
  <section class="sidebar">
    <h1>Sidebar</h1>
    {% capture sidebar %}
    {% include sidebar.html %}
    {% endcapture %}
    {{ sidebar | hyphenate }}
  </section>
  <footer>
    &copy; {{ site.time | date: "%Y" }} Jim Killingsworth. All rights reserved.
  </footer>
</body>
</html>
