<!doctype html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}" />
  <base href="{{ site.baseurl }}/" />
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="icon" href="./static/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="./static/favicon-256.jpg" sizes="256x256" />
  {% include analytics.html %}
  {% include webfonts.html %}
  {% include styles.html %}
</head>
<body>
  <header>
    <a href="./">Jim Killingsworth</a>
  </header>
  <nav class="navmenu">
    <input id="toggle" type="checkbox" />
    <label for="toggle">Enable menu</label>
    <ul>
      <li>
        <a href="./">
          Home
        </a>
      </li>
      <li>
        <a href="./archive/">
          Archive
        </a>
      </li>
      <li>
        <a href="./about/">
          About
        </a>
      </li>
      <li>
        <a href="./contact/">
          Contact
        </a>
      </li>
    </ul>
  </nav>
  <main class="content">
    {{ content | hyphenate | replace: '-­', '-' }}
  </main>
  <aside class="sidebar">
    <header>
      <h1>Sidebar</h1>
    </header>
    {% capture sidebar %}
    {% include sidebar.html %}
    {% endcapture %}
    {{ sidebar | hyphenate | replace: '-­', '-' }}
  </aside>
  <footer>
    &copy; {{ site.time | date: "%Y" }} Jim Killingsworth. All rights reserved.
  </footer>
</body>
</html>
